rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Ouverture totale pour le prototype afin d'éviter les erreurs de permission
    match /{document=**} {
      allow read, write: if true;
    }
  }
}